body{
    text-align: center;
}

.dark{
    background-color: black;
    color:white;
}
.light{
    background-color: white;
    color: black;
}
button{
    height: 40px;
    width: 130px;
    background-color:blue;
    color:white;
}
button:hover{
    cursor:pointer;
    background-color: white;
    color: black;

}